<mat-sidenav-container class="sidenav-container" autosize>

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <div *ngIf="isLoggedIn; then avatar else icon"></div>
        <ng-template #avatar>
            <ngx-avatar name="{{ name }}" src="{{ photo }}" size="100%" [round]="false">
            </ngx-avatar>
        </ng-template>
        <ng-template #icon>
            <img src="assets/check-mark.svg" alt="{{ title }}">
        </ng-template>

        <mat-divider></mat-divider>

        <mat-nav-list>
            <a mat-list-item routerLink="/home">Home</a>
            <a mat-list-item routerLink="/signin">Sign in</a>
            <a mat-list-item routerLink="/user">User</a>

            <mat-divider></mat-divider>

            <div *ngIf="isLoggedIn">
                <a mat-list-item *ngFor="let book of whiteList | async" (click)="gotoBook(book.book)"
                    routerLinkActive="active" [routerLink]="['/home', book.book]">
                    {{ getBookName(book.book) }}
                </a>
            </div>

            <mat-divider></mat-divider>

            <a mat-list-item (click)=" addBook()">New list...</a>

            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{ title }}</span>

            <span class="spacer"></span>
            <button type="button" aria-label="Toggle settings tab" mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="Open Settings icon">settings</mat-icon>
            </button>
        </mat-toolbar>

        <!-- Add Content Here -->
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>