<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title> {{ list.name }} </mat-panel-title>
    <mat-panel-description>
      {{ list.description }} - {{ list.uid }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <ng-content></ng-content>
    <mat-divider></mat-divider>
    <button (click)="add()">add</button>

    <mat-tab-group mat-stretch-tabs dynamicHeight headerPosition="below" mat-align-tabs="center">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>check</mat-icon>
        </ng-template>

        <mat-selection-list #list>
          <mat-list-option *ngFor="let i of items | async">
            {{ i.item }}
          </mat-list-option>
        </mat-selection-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>poll</mat-icon>
        </ng-template>

        Generated Graphs
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>settings</mat-icon>
        </ng-template>

        Settings
      </mat-tab>
    </mat-tab-group>

  </ng-template>

</mat-expansion-panel>