<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <mat-selection-list>
        <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">

          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">

            <mat-list-option selected="{{ node.isChecked }}">
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              <!-- drag_indicator -->
              {{ node.item }}
            </mat-list-option>

          </cdk-nested-tree-node>

          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
            <button mat-icon-button [attr.aria-label]="'toggle ' + node.item" cdkTreeNodeToggle style="float: left">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>

            <mat-list-option selected="{{ node.isChecked }}">
              {{ node.item }}
            </mat-list-option>

            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>

        </cdk-tree>
      </mat-selection-list>

    </ng-template>

  </mat-expansion-panel>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am not working.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <p>I'm visible because I am open</p>
    </ng-template>

  </mat-expansion-panel>

</mat-accordion>