<div>

  <!-- <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" disabled>
      <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="picker.open()">Open</button>
  </div> -->

  <mat-accordion>

    <app-list-tree *ngFor="let list of lists | async" [list]=list>
    </app-list-tree>

  </mat-accordion>

  <br>
  <button (click)="add()" mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>
</div>